<%= for category <- @categories do %>
  <h2> <%= category.name %> </h2>
  <p><em> <%= category.description %> </em></p>

  <ul>
    <%= for lib <- category.libs do %>
      <li>
        <a href="<%= lib.href %>"> <%= lib.name %> </a>
        <span>stars(<%= lib.stars %>)</span>
        <span><%= lib.description %></span>
    <% end %>
  </ul>
<% end %>
